{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/booking.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>{% block title %} Tambah Hotel {% endblock title %}</title>
    {% load django_bootstrap5 %} {% bootstrap_css %}
  </head>
  <body>
    {% include "includes/navbar.html" %}
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <h1>Tambah Hotel</h1>
            <a href="{% url 'crud' %}" class=" btn btn-dark">Kembali</a>
        </div>
        <form class="needs-validation" method="POST">
            {% include "CRUD/form.html" %}
        </form>
    </div>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
